::placeholder{
    font-size: 14px;
}
.login{
    width: 25%;
    margin: auto;
    text-align: left;
}
.login h1{
    text-align: center;
}
.login .error{
    width: 94%;
    color: red;
    height: 18px;
    font-size: 14px;
    transition: .3s;
    padding: 7px 12px;
    border-radius: 5px;
    background: lightyellow;
    animation: errors .4s;
}
.login .success{
    width: 94%;
    color: green;
    height: 18px;
    font-size: 14px;
    transition: .3s;
    padding: 7px 12px;
    border-radius: 5px;
    background: #ceface;
    animation: errors .4s;
}
@keyframes errors{
    from{
        height: 0;
    }
    to{
        height: 18px;
    }
}
.login input{
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    background: none;
    margin-bottom: 10px;
    padding: 5px 0 5px 5px;
    border-bottom: 2px solid #29242f;
}
.login button{
    width: 102%;
    border:none;
    outline: none;
    color: #eee;
    transition: .3s;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px 0;
    border-radius: 2px;
    background: #29242f;
}
.login button:hover{
    color: #29242f;
    background: #efec40;
}
.login p {
    letter-spacing: 1.75px;
}
.login p a{
    color: #0092cc;
    font-weight: 500;
    text-decoration: none;
}